<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr
		http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		">

	<import resource="classpath:spring/conf-*.xml" />
	
	<context:component-scan base-package="com.zis" >
		<context:exclude-filter type="regex" expression="com.zis.requirement.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.purchase.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.bookinfo.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.toolkit.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.shiro.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.api"/>
		<context:exclude-filter type="regex" expression="com.zis.shop.controller"/>
		<context:exclude-filter type="regex" expression="com.zis.storage.controller"/>
	</context:component-scan>
	
	<!-- 开启aop，对类代理 -->
	<aop:config proxy-target-class="true" />
	
	<!-- 开启shiro注解支持 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>
	
	<!-- 控制器异常处理 -->
	<bean id="exceptionHandlerExceptionResolver"
		class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
	</bean>
	<bean class="com.zis.shiro.exception.DefaultExceptionHandler" />
	<!-- 配置线程池 -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<!-- 线程池维护线程的最少数量 -->
		<property name="corePoolSize" value="10" />
		<!-- 线程池维护线程所允许的空闲时间 -->
		<property name="keepAliveSeconds" value="30000" />
		<!-- 线程池维护线程的最大数量 -->
		<property name="maxPoolSize" value="30" />
		<!-- 线程池所使用的缓冲队列 -->
		<property name="queueCapacity" value="50" />
	</bean>
</beans>